<%- include("../layout/header") %>
<h1>Admin login</h1>

<form  method ="post" >
    
     <div>
        <input type="email" placeholder="Enter email" name="email" size="40" required />
      </div>
      <br />

      <div>
     <input type="password" placeholder="password" name="password" required/>
      </div>
      <br />
      
      <div>
        <button type="submit">Login</button>
      </div>
      <br />
      <div>
        <a href="/admin/forget-password">Forget password</a>
    </div>
</form>
<%if(typeof message !== 'undefined'){%>
  <h4 style="color:green"><%=message%></h4>
<%}%>


<%- include("../layout/footer") %>

